body{
  justify-content: center;
  display: flex;
}

.container {
  width: 575px;
  height: 750px;
  background-color: rgba(0, 0, 0, 0.897);
  padding-left: 30px;
  font-size: 28px;
  color: white;
}
#height,
#weight {
  width: 200px;
  height: 30px;
  margin-top: 30px;
}

#weight-guide {
  margin-left: 110px;
  margin-top: 25px;
  font-size: 26px;
}

#results {
  font-size: 35px;
  margin-left: 241px;
  margin-top: 20px;
  color: rgb(241, 241, 241);
}

button {
  width: 210px;
  height: 40px;
  margin-left: 167.5px;
  margin-top: 25px;
  background-color: orange;
  padding: 1px 30px;
  border-radius: 8px;
  color: #212121;
  text-decoration: none;
  border: 2px solid #212121;
  

  font-size: 25px;
}

h1 {
  padding-left: 15px;
  padding-top: 25px;
  
}
